* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #ff4a52;
}

li {
    list-style: none;
    cursor: pointer;
    transition: color 0.2s;
}

li:hover {
    color: #ff4a52;
}

ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.row {
    width: 100%;
    display: flex;
}

.font-15 {
    font-size: 15px !important;
}


/*--------------------Header------------------------------*/

header {
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
}

.search-icon {
    justify-content: center;
    align-items: center;
}

.search-icon a {
    color: black;
}

.drop-down-menu a {
    color: black;
}


/*-------------------Slider--------------------------*/

.slider {
    background-image: url(../images/banner2.png);
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-text {
    justify-content: space-around;
    height: 45vw;
    align-items: center;
    flex-direction: column;
}

.slider-text h3 {
    font-size: 8vw;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    color: white;
    line-height: 10vw;
}

.slider-text p {
    font-size: 2.5vw;
    font-weight: 400;
    color: white;
}

.slider-btn {
    background-color: #1ec6b6;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.slider-btn:hover {
    background-color: #ff4a52;
    color: white !important;
}


/*-------Media Queries-------------------------------------------*/

@media (min-width: 576px) {
    .search-icon {
        position: absolute;
        background-color: #ff4a52;
        width: 45px;
        right: 45px;
        top: 0;
        bottom: 0;
    }
    .search-icon a {
        color: white !important;
    }
    .drop-down-menu {
        position: absolute;
        width: 45px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #1ec6b6;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    nav li {
        display: inline-block;
    }
    .drop-down-menu {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .search-icon {
        width: 100px;
    }
}